.jumbo-algo{
    background-color: #CC7832;
}

.jumbo-algo h1{
    color: white;
}

.algo-num{
  font-size: 25px;
}

.algo-description{
  color: white;
  font-size: 20px;
}

body{
  background-color: #2B2B2B;
}

.algo-text{
  color: white;
}