#jumbo{
  margin-top: 10px;
}

.btn-link{
  font-size: 22px;
}

/* Style buttons */
.btn-primary {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 5px 20px;
  cursor: pointer;
  font-size: 15px;
}

/* Darker background on mouse-over */
.btn-primary:hover {
  background-color: RoyalBlue;
}

.card-item{
  margin-top: 15px;
}

.card-description{
  margin-bottom: 15px;
}

.download-link{
  color: "#af1818";
}