{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Binary Search</title>

    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <link href="{% static 'css/algorithm.css' %}" type="text/css" rel="stylesheet" >
</head>
<body>
    <!-- NAV -->
    {% include 'nav.html' %}
    <!-- The heading text -->
    <div class="jumbotron jumbo-algo nav-jumbo">
        <h1 class='display-4'>Ben's Binary Search</h1>
        <hr class="my-4">
        <p class='lead algo-description'>
            Thanks for checking out this binary search algorithm that I 
            implemented in JavaScript.  
            <br/>
            It is a visualization of the search.
        </p>
    </div>

    <!-- The algorithm display -->
    <div class="container">
        <div class="row">
          <div class='col-lg-12 text-center'>

          </div>
            <div class="col-lg-4" id="algo-form">
              <form name='integer-form'>
                <div class='form-group'>
                  <label for="integer" class='algo-text'>Input the number to search for here</label>
                  <input id='integer' type="number" class="form-control">
                </div>
              </form>
              <button class='btn btn-primary' id='search-button'>Search!</button>
              <p id='error-text'></p>
              </div>
            <div class="col-lg-8 text-center" id="algo-text">

            </div>
        </div>
    </div>

<!-- <script src="{% static 'js/binary_search/binarySearch.js' %}" type="module"></script>

<script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script> -->
</body>
</html>
